/* Global Setup */
@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Ultralight.otf");
   font-weight: 100;
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Thin.otf");
   font-weight: 200;
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Light.otf");
   font-weight: 300;
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Medium.otf");
   font-weight: 500;
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Semibold.otf");
   font-weight: 600;
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Bold.otf");
   font-weight: 700;
}

@font-face {
   font-family: "SF Pro";
   src: url("../fonts/SF-Pro-Display-Heavy.otf");
   font-weight: 800;
}

:root {
   --primary-color: #1461F5;
   --success-color: #0B7517;
   --warning-color: #fdb630;
   --danger-color: #fb4b4b;
   --default-color: #10130e;
   --border-color: #d4d4d4;
   --border-thin-color: #eaeaea;
   --bs-font-sans-serif: "SF Pro";
   --background-success: #e3ffeb;
   --background-warning: #fff4d8;
}

* {
   font-family: "SF Pro";
   letter-spacing: .3px;
}

body {
   font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
}


.btn {
   border-radius: 7px !important;
}

.divider-sm {
   border-bottom: 1px solid var(--border-color);
   padding-bottom: 25px;
   margin-bottom: 25px;
}

.divider-section {
   border-bottom: 1px solid var(--border-color);
   margin: 0 40px;
   padding-bottom: 35px;
   margin-bottom: 35px;
}

.helper-input {
   font-size: 14px;
   font-weight: 300;
   opacity: .7;
}

.form-select.is-invalid,
.was-validated .form-select:invalid {
   border-color: #dc3545 !important;
}

.btn i {
   color: inherit;
}

a {
   text-decoration: unset;
}

a:hover {
   text-decoration: unset;
}


.card {
   border-color: var(--border-color);
   border-radius: 7px;
}

.card-shadow {
   position: relative;
   border-radius: 7px;
   box-shadow: 0px 2px 4px 1px #3e3e3e2e;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
}

.card-shadow.warning {
   background-color: var(--background-warning);
}

.iti {
   display: block !important;
}

.section {
   padding: 0 30px;
}

.form-label {
   font-size: 13px;
   opacity: .5;
   margin-bottom: 2px;
}

.dashboard {
   width: 100%;
   min-height: 100vh;
   background-color: #F8F8F8;
}

.badge-custom {
   display: inline;
   padding: 5px 8px;
   border-radius: 7px;
   font-weight: 600;
}

.badge-custom.success {
   background-color: var(--background-success);
}

.dropify-wrapper {
   border-radius: 7px;
   border: 3px dashed var(--primary-color);
}

.dropify-wrapper .dropify-message p {
   font-size: 19px;
   font-weight: 200;
   opacity: .7;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p span {
   color: white;
}

.form-control {
   border-color: var(--border-color) !important;
   border-radius: 7px !important;
}

.form-select {
   border-color: var(--border-color) !important;
   border-radius: 7px !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
   border-color: #dc3545 !important;
}

input.form-check-input:checked {
   background-color: var(--primary-color);
   border-color: var(--primary-color);
}

::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: rgb(191, 191, 191) !important;
}

::-moz-placeholder {
   /* Firefox 19+ */
   color: rgb(191, 191, 191) !important;
}

:-ms-input-placeholder {
   /* IE 10+ */
   color: rgb(191, 191, 191) !important;
}

:-moz-placeholder {
   /* Firefox 18- */
   color: rgb(191, 191, 191) !important;
}

/* Sidebar */
.dashboard-navigation .sidebar {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   background-color: white;
   height: 100vh;
   box-shadow: 2px 0px 9px 1px #65656526;
   padding: 20px 20px;
   width: 270px;
   transition: all .6s;
}

.dashboard-navigation .sidebar.hide {
   left: -280px;
   transition: all .6s;
}

.dashboard .content {
   padding-left: 270px;
   transition: all .6s;
}

.dashboard .content.hide {
   padding-left: 0;
   transition: all .6s;
}

.dashboard-navigation .sidebar .logo-text {
   font-size: 20px;
   font-weight: 700;
   color: var(--primary-color);
}

.dashboard-navigation .sidebar .profile-img {
   min-width: 65px;
   max-width: 65px;
   height: 65px;
   overflow: hidden;
   border-radius: 100px;
}

.dashboard-navigation .sidebar .profile-img img {
   height: 110%;
}

.dashboard-navigation .sidebar .name-member {
   font-weight: 600;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.dashboard-navigation .sidebar .title-role {
   font-size: 14px;
   font-weight: 300;
   opacity: .5;
}

.dashboard-navigation .sidebar .icon-member {
   background-color: #bbbbbb;
   width: 28px;
   height: 28px;
   border-radius: 100px;
   position: relative;
}

.dashboard-navigation .sidebar .icon-member i {
   font-size: 14px;
   color: white;
}

.dashboard-navigation .sidebar .type-member {
   border: 2px solid #bbbbbb;
   padding: 2px 10px;
   font-size: 12px;
   margin-left: -15px;
   padding-left: 20px;
   border-radius: 6px;
   font-weight: 300;
   color: #848484;
}

.dashboard-navigation .sidebar .menu-wrapper {
   margin-top: 25px;
}

.dashboard-navigation .sidebar .menu-name {
   font-weight: 500;
   opacity: .3;
   margin-bottom: 5px;
}

.dashboard-navigation .sidebar .item {
   padding: 8px 10px;
   cursor: pointer;
   position: relative;
   font-weight: 300;
   cursor: pointer;
   transition: all .1s;
   border-radius: 7px;
}

.dashboard-navigation .sidebar .item.active {
   background-color: #f4ffed;
   background: rgb(20, 97, 245);
   background: linear-gradient(90deg, rgba(20, 97, 245, 1) 0%, rgba(80, 157, 255, 1) 100%);
}

.dashboard-navigation .sidebar .item:hover {
   background: rgb(20, 97, 245);
   background: linear-gradient(90deg, rgba(20, 97, 245, 1) 0%, rgba(80, 157, 255, 1) 100%);
   transition: all .1s;
}

.dashboard-navigation .sidebar .item.sub {
   padding-left: 25px;
}

.dashboard-navigation .sidebar .item .none {
   display: block;
   transition: all .2s;
}

.dashboard-navigation .sidebar .item .active {
   display: none;
   transition: all .2s;
}

.dashboard-navigation .sidebar .item:hover .none {
   display: none;
   transition: all .2s;
}

.dashboard-navigation .sidebar .item:hover .active {
   display: block;
   transition: all .2s;
}

.dashboard-navigation .sidebar .item.active .none {
   display: none;
}

.dashboard-navigation .sidebar .item.active .active {
   display: block;
}

.dashboard-navigation .sidebar .item i {
   margin-right: 7px;
   font-size: 16px;
   color: #7d7d7d;
   transition: all .2s;
   width: 23px;
   display: flex;
   justify-content: center;
}

.dashboard-navigation .sidebar .item .text {
   color: #7d7d7d;
   transition: all .2s;
   font-size: 14px;
}

.dashboard-navigation .sidebar .item:hover i {
   color: white;
   transition: all .2s;
}

.dashboard-navigation .sidebar .item:hover .text {
   color: white;
   transition: all .2s;
}

.dashboard-navigation .sidebar .item.active i {
   color: white;
}

.dashboard-navigation .sidebar .item.active .text {
   color: white;
}


.dashboard-navigation .sidebar .item.logout:hover {
   background: #ffe5e5 !important;
   transition: all .1s;
}

.dashboard-navigation .sidebar .item.logout:hover i {
   color: var(--danger-color);
   transition: all .2s;
}

.dashboard-navigation .sidebar .item.logout:hover .text {
   color: var(--danger-color);
   transition: all .2s;
}

.dashboard-navigation nav .notif {
   height: 100%;
   cursor: pointer;
   padding: 0 5px;
}

.dashboard-navigation nav .notif-count {
   cursor: pointer;
   position: absolute;
   font-size: 10px;
   font-weight: 600;
   background-color: var(--danger-color);
   width: 20px;
   height: 20px;
   color: white;
   border-radius: 50px;
   top: -10px;
   right: -5px;
}

.dashboard-navigation nav .username {
   font-size: 16px;
   font-weight: 600;
   line-height: 17px;
}

.dashboard-navigation nav .role {
   opacity: .5;
}

.dashboard-navigation nav .profile {
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 100px;
}

.dashboard-navigation nav .profile img {
   height: 100%;
}

.dashboard-navigation nav .menu-bar {
   padding: 4px 10px;
   font-size: 18px;
   cursor: pointer;
}

/* Footer */
footer {
   background-color: #2B2B2B;
   padding: 25px 40px 35px;
}

footer .social-icon {
   background-color: var(--primary-color);
   width: 35px;
   height: 35px;
   font-size: 20px;
   border-radius: 7px;
}

footer .divider-footer {
   border-bottom: 1px solid #ffffff52;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

footer .head {
   color: white;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 10px;
}

footer .item {
   color: white;
   opacity: .7;
   margin-bottom: 2px;
}

footer .logo-text {
   font-size: 22px;
   font-weight: 700;
   color: white;
}

footer .app img {
   height: 40px;
}

footer .bottom {
   font-size: 12px;
   color: white;
}

/* ==================================== */
/* Dashboard */

.dashboard .title-content {
   font-size: 22px;
   font-weight: 600;
}

.dashboard .sub-content {
   font-size: 18px;
   font-weight: 500;
   opacity: .7;
}

.dashboard .third-content {
   font-weight: 300;
   opacity: .7;
}

.dashboard .divider-menu {
   border-left: 1px solid var(--border-color);
}

/* Index */
.dashboard .time-presensi {
   font-size: 28px;
   font-weight: 700;
}

/* Presensi */
.dashboard .modal video {
   width: 100%;
}

/* Dashboard Table */
.dataTables_filter {
   margin-bottom: 15px;
}

.dashboard table {
   border-radius: 7px;
   overflow: hidden;
}

.dashboard table th {
   background-color: #0A1931;
   color: white;
}

.dashboard table .image {
   min-width: 40px;
   max-width: 40px;
   height: 40px;
   overflow: hidden;
   border-radius: 100px;
}

.dashboard table .image img {
   height: 100%;
}

.dashboard table .image-presensi {
   min-width: 80px;
   max-width: 80px;
   height: 80px;
   overflow: hidden;
   border-radius: 7px;
}

.dashboard table .image-presensi img {
   height: 100%;
}

.dashboard table .main-text {
   font-size: 15px;
   font-weight: 500;
}

.dashboard table .sub-text {
   font-weight: 300;
   opacity: .7;
}

/* Responsive */

@media (max-width: 576px) {
   .section {
      padding: 0 25px
   }

}

@media (min-width: 992px) {

   .dashboard-modal .modal-lg,
   .dashboard-modal .modal-xl {
      max-width: 1100px;
   }
}

@media (max-width: 992px) {
   .dashboard-navigation .sidebar {
      left: 0;
      transition: all .6s;
   }

   .dashboard-navigation .sidebar.hide {
      left: -280px;

      transition: all .6s;
   }

   .dashboard .content {
      padding-left: 0;
   }
}